# Environments variables
env/

# Data files
data/

# Python cache and virtual envs
__pycache__/
venv/

# Great Expectations
gx/checkpoints/
gx/plugins/
gx/uncommitted/
gx/validation_definitions/

# Poetry
poetry.lock

# Airflow
airflow*.*
logs/
standalone_admin_password.txt
webserver_config.py

# Project related
assets/
pbix/